---
import ShowMore from '../ui/ShowMore.astro';
import BlogCard from './BlogCard.astro';
import type { BlogEntry } from '@/lib/utils/blog';

interface Props {
  blogs: BlogEntry[];
}

const { blogs } = Astro.props;
---

<section class="py-12" aria-labelledby="blog-section-title">
  <div class="container">
    <ShowMore
      title="Todos los artículos"
      subtitle="Explora nuestra colección completa de artículos sobre viajes, hoteles, gastronomía y más."
    />

    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {blogs.map((blog) => <BlogCard blog={blog} />)}
    </div>
  </div>
</section>
