---
import { getFeaturedBlogs } from '@/lib/utils/blog';
import ShowMore from '@/components/ui/ShowMore.astro';
import FeaturedBlogCard from './featuredBlogCard.astro';

const featuredBlogs = await getFeaturedBlogs(2);
---

<section class="container my-16 py-16" aria-labelledby="featured-section">
  <ShowMore title="Artículos Destacados" subtitle="conoces nuestros artículos mejor valorados" />
  <div class="grid gap-8 md:grid-cols-2">
    {featuredBlogs.map((blog) => <FeaturedBlogCard blog={blog} />)}
  </div>
</section>
