@import "tailwindcss";
@plugin '@midudev/tailwind-animations';
@plugin "@tailwindcss/typography";
@layer theme, base, components, utilities;

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

@theme {
  --color-main: #1f2a44;
  --color-secondary: #c09250;
  --color-background: #ffffff;
  --color-foreground: #0f1114;

  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  p,
  span,
  a,
  time,
  input,
  textarea,
  select,
  option {
    @apply font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-jakarta;
  }
}

/* CUSTOM */
.hover-200 {
  @apply transition-all duration-200 ease-in-out;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverts black to white */
  cursor: pointer;
}

/* CUSTOM HERO HOTEL PAGINATION */
.swiper-pagination-hotel-hero {
  @apply flex !w-fit items-center justify-center gap-2;
}

.swiper-pagination-hotel-hero > .swiper-pagination-bullet {
  @apply bg-background/50 block size-3 rounded-full;
}

.swiper-pagination-hotel-hero > .swiper-pagination-bullet-active {
  @apply bg-secondary;
}

/* CUSTOM SWIPER PAGINATION */
.custom-pagination {
  @apply flex !w-fit items-center justify-center gap-2;
}

.custom-pagination > .swiper-pagination-bullet {
  @apply bg-main/50 block size-3 rounded-full;
}

.custom-pagination > .swiper-pagination-bullet-active {
  @apply bg-secondary;
}

/* UTILITIES */
@utility container-full {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

@utility container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@utility scroll-hide {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}
