---
import { Logo } from '@/assets';
import { navbarItems } from '@/data/site-data';
import MegaMenu from '@/components/layout/MegaMenu.astro';
import { buttonClasses, cn } from '@/lib/ui';
import { Image } from 'astro:assets';

const pathname = Astro.url.pathname;
console.log('🚀 ~ Logo:', Logo);
---

<nav
  id="desktop-navbar"
  class="bg-background border-main top-0 z-[9999] hidden w-full translate-y-0 border-b py-2 transition-transform duration-300 md:fixed md:block"
>
  <div class="mx-auto flex w-full max-w-[1200px] items-center justify-between px-4">
    <div class="flex justify-center">
      <a href="/" aria-label="Pagina Principal">
        <Image src={Logo} alt="Logo de Small Luxury Hotels" class="size-13" />
      </a>
    </div>
    <div>
      <ul class="m-0 flex list-none gap-8 p-0" id="navbar-list">
        {
          navbarItems.map(({ label, link, megamenu }) => (
            <li data-mega-menu={megamenu ? link : null}>
              <a
                href={link}
                class={cn(
                  'text-foreground hover:text-secondary hover-200 font-jakarta flex gap-2 text-lg font-medium no-underline',
                  pathname.includes(link) ? 'text-secondary' : ''
                )}
              >
                {label}
              </a>

              {megamenu && <MegaMenu collection={link as '/hoteles' | '/experiencias'} />}
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <a href="/reservar" class={buttonClasses.primary}>Reservar</a>
    </div>
  </div>
</nav>

<script>
  import { navbarAnimation } from '@/lib/scripts';
  const handleScroll = navbarAnimation('desktop-navbar');

  window.addEventListener('scroll', () => {
    window.innerWidth > 768 && handleScroll();
  });
</script>
