---
import type { CollectionEntry } from 'astro:content';
import ShowMore from '../ui/ShowMore.astro';

interface Props {
  room: CollectionEntry<'rooms'> | undefined;
}
const { room } = Astro.props;

if (!room) {
  throw new Error('Room not found');
}

const { amenities } = room?.data;
---

<section class="w-full bg-white py-8">
  <div class="container mx-auto">
    <ShowMore title="Detalles" />
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {
        amenities.map((item) => (
          <div class="border-secondary flex flex-row items-center border-b py-2">
            <dt class="w-1/3 font-medium text-gray-700">{item}</dt>
          </div>
        ))
      }
    </ul>
  </div>
</section>
