---
import type { CollectionEntry } from 'astro:content';
import ShowMore from '../ui/ShowMore.astro';
import { getAmenityIcon } from '@/lib/utils';

interface Props {
  room: CollectionEntry<'rooms'> | undefined;
}
const { room } = Astro.props;

if (!room) {
  throw new Error('Room not found');
}

const { amenities } = room?.data;
---

<section class="w-full bg-white py-8">
  <div class="container mx-auto">
    <ShowMore title="Detalles" className="pb-0" />
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {
        amenities.map((item) => {
          const Icon = getAmenityIcon(item);
          return (
            <div class="border-secondary flex flex-row items-center gap-4 border-b py-2">
              <Icon class="text-secondary h-8 w-8" />
              <dt class="w-full font-medium text-gray-700 md:w-1/3">{item}</dt>
            </div>
          );
        })
      }
    </ul>
  </div>
</section>
