---
import type { CollectionEntry } from 'astro:content';
import ShowMore from '../ui/ShowMore.astro';
import { getAmenityIcon } from '@/lib/utils';

interface Props {
  room: CollectionEntry<'rooms'> | undefined;
}
const { room } = Astro.props;

if (!room) {
  throw new Error('Room not found');
}

const { amenities } = room?.data;
---

<section class="w-full bg-white py-16">
  <div class="container mx-auto">
    <span id="show-more-room-details">
      <ShowMore
        title="Detalles"
        subtitle="las peculiaridades de esta acogedora habitación"
        className="pb-0"
      />
    </span>
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2" id="room-details">
      {
        amenities.map((item) => {
          const Icon = getAmenityIcon(item);
          return (
            <li class="border-secondary flex flex-row items-center gap-4 border-b py-2">
              <Icon class="text-secondary h-8 w-8" />
              <dt class="text-foreground/70 w-full font-medium md:w-2/3">{item}</dt>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>

<script>
  import { animateElement } from '@/lib/scripts';

  animateElement('#show-more-room-details', '40px', 500);
  animateElement('#room-details', '-40px', 500);
</script>
