---
import HotelCard from './HotelCard.astro';
import ShowMore from '@/components/ui/ShowMore.astro';
import { getAllHotels } from '@/lib/fetchers/hotels';
import { ArrowLeft, ArrowRight } from 'lucide-astro';

const hotels = await getAllHotels();
---

<section class="bg-background relative py-8 md:py-15">
  <div class="container mx-auto px-4 md:px-6">
    <ShowMore
      title="Nuestros Hoteles"
      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      showMoreUrl="/hoteles"
    />

    <!-- Hotels -->
    <div class="swiper-hotel-carousel h-full w-full">
      <ul class="swiper-wrapper mb-8 h-full">
        {
          hotels.map((hotel) => (
            <li class="swiper-slide">
              <HotelCard hotel={hotel} />
            </li>
          ))
        }
      </ul>

      <!-- Navigation BTNS -->
      <div class="mt-4 hidden w-full items-center justify-between md:flex">
        <div class=".swiper-pagination-swiper-hotel-carousel"></div>
        <div class="flex gap-3">
          <div
            class="prev-hotel-carousel border-main bg-background hover:bg-main text-main hover:text-background flex h-12 w-12 items-center justify-center rounded-full border transition-colors"
            aria-label="Anterior"
          >
            <ArrowLeft class="current" />
          </div>
          <div
            class="next-hotel-carousel border-main bg-background hover:bg-main text-main hover:text-background flex h-12 w-12 items-center justify-center rounded-full border transition-colors"
            aria-label="Siguiente"
          >
            <ArrowRight class="current" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  import 'swiper/css/pagination';
  import { Navigation, Pagination } from 'swiper/modules';

  new Swiper('.swiper-hotel-carousel', {
    modules: [Navigation, Pagination],
    loop: true,
    spaceBetween: 40,
    breakpoints: {
      768: {
        slidesPerView: 1
      },
      1024: {
        slidesPerView: 3
      }
    },
    navigation: {
      prevEl: '.prev-hotel-carousel',
      nextEl: '.next-hotel-carousel'
    },
    pagination: {
      el: '.swiper-pagination-swiper-hotel-carousel'
    }
  });
</script>
