---
import type { Gallery } from '@/types';
import { Image } from 'astro:assets';
import { Star, ArrowLeft, ArrowRight } from 'lucide-astro';

// AboutSection component
interface Props {
  title: string;
  images: Gallery[];
  info: string[];
  reverse?: boolean;
}

const { title, images = [], info, reverse = false } = Astro.props;
const displayInfo = info.slice(0, 5);
---

<section class="bg-background py-16">
  <div class="container mx-auto px-4">
    <div
      class={`flex flex-col items-center gap-12 lg:flex-row ${reverse ? 'lg:flex-row-reverse' : ''}`}
    >
      <!-- Carousel de imágenes -->
      <div
        class="animate-fade-in-left animate-delay-300 w-full shadow-md lg:w-1/2"
        id="two-columns-image"
      >
        <div
          class="relative h-[400px] w-full overflow-hidden shadow-md"
          id="hotel-two-columns-carousel"
        >
          <div class="swiper-hotel-two-columns h-full w-full">
            <div class="swiper-wrapper h-full">
              {
                images.map((img) => (
                  <div class="swiper-slide h-full">
                    <Image
                      src={img.url}
                      alt={title || 'Hotel image'}
                      class="h-full w-full object-cover"
                      width={400}
                      height={400}
                      loading="lazy"
                      densities={[1, 2]}
                    />
                  </div>
                ))
              }
            </div>
            <!-- Botones de navegación -->
            <div
              class="prev-hotel-two-columns border-main bg-background hover:bg-main text-main hover:text-background absolute right-20 bottom-6 z-10 flex h-10 w-10 items-center justify-center rounded-full border transition-colors"
              aria-label="Anterior"
            >
              <ArrowLeft class="current" />
            </div>
            <div
              class="next-hotel-two-columns border-main bg-background hover:bg-main text-main hover:text-background absolute right-6 bottom-6 z-10 flex h-10 w-10 items-center justify-center rounded-full border transition-colors"
              aria-label="Siguiente"
            >
              <ArrowRight color="current" />
            </div>
          </div>
        </div>
      </div>
      <!-- Contenido -->
      <div class="animate-fade-in-right animate-delay-300 w-full lg:w-1/2" id="two-columns-info">
        <h2 class="text-main mb-6 text-3xl font-bold md:text-4xl">{title}</h2>
        <div class="space-y-4">
          {
            displayInfo.map((text) => (
              <div class="flex items-center gap-4">
                <Star class="fill-secondary text-secondary inline-block size-5 shrink-0" />
                <p class="text-foreground/70 text-lg">{text}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { animateElement } from '@/lib/scripts';
  import Swiper from 'swiper';
  import 'swiper/css';
  import { Navigation } from 'swiper/modules';

  new Swiper('.swiper-hotel-two-columns', {
    modules: [Navigation],
    loop: true,
    slidesPerView: 1,
    spaceBetween: 0,
    navigation: {
      prevEl: '.prev-hotel-two-columns',
      nextEl: '.next-hotel-two-columns'
    }
  });

  animateElement('#two-columns-image', '-40px', 500);
  animateElement('#two-columns-info', '40px', 500);
</script>
