---
import { ArrowLeft, ArrowRight } from 'lucide-astro';
import HotelCard from './HotelCard.astro';
import ShowMore from '@/components/ui/ShowMore.astro';
import { getAllHotels } from '@/lib/utils/hotels';

const hotels = await getAllHotels();
---

<section class="bg-background relative py-8 md:py-15">
  <div class="container-full mx-auto px-4 md:px-6">
    <ShowMore
      title="Nuestros Hoteles"
      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      showMoreUrl="/hoteles"
    />

    <!-- Versión de escritorio (3 columnas) -->
    <div class="swiper-hotel-carousel h-full w-full">
      <ul class="swiper-wrapper mb-8 hidden h-full gap-8 md:grid md:grid-cols-3">
        {
          hotels.map((hotel) => (
            <li class="swiper-slide">
              <HotelCard hotel={hotel} />
            </li>
          ))
        }
      </ul>

      <!-- Navigation BTNS -->
      <div class="flex w-full items-center justify-between">
        <div class=".swiper-pagination-swiper-hotel-carousel"></div>
        <div class="flex gap-3">
          <div
            class="prev-hotel-carousel border-main bg-background hover:bg-main text-main hover:text-background flex h-12 w-12 items-center justify-center rounded-full border transition-colors"
            aria-label="Anterior"
          >
            <ArrowLeft class="current" />
          </div>
          <div
            class="next-hotel-carousel border-main bg-background hover:bg-main text-main hover:text-background flex h-12 w-12 items-center justify-center rounded-full border transition-colors"
            aria-label="Siguiente"
          >
            <ArrowRight class="current" />
          </div>
        </div>
      </div>
    </div>

    <!-- Versión móvil (carrusel) -->
    <div class="mb-8 md:hidden">
      <swiper-container-full
        slides-per-view="1.2"
        space-between="16"
        pagination="true"
        navigation="true"
        class="hotel-swiper"
      >
        {
          hotels.map((hotel) => (
            <li class="swiper-slide">
              <HotelCard hotel={hotel} />
            </li>
          ))
        }
      </swiper-container-full>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  import 'swiper/css/pagination';
  import { Navigation, Pagination } from 'swiper/modules';

  new Swiper('.swiper-hotel-carousel', {
    modules: [Navigation, Pagination],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 40,
    navigation: {
      prevEl: '.prev-hotel-carousel',
      nextEl: '.next-hotel-carousel'
    },
    pagination: {
      el: '.swiper-pagination-swiper-hotel-carousel'
    }
  });
</script>
