---
import type { CollectionEntry } from 'astro:content';
import ShowMore from '@/components/ui/ShowMore.astro';
import ExperiencesCard from '@/components/experiences/ExperiencesCard.astro';

interface Props {
  experiences: CollectionEntry<'experiences'>[];
}

const { experiences } = Astro.props;
---

<section class="container px-4 py-16">
  <span id="show-more-hotel-experiences">
    <ShowMore
      title="Experiencias"
      subtitle="Descubre nuestras experiencias únicas y personalizadas para ti."
      showMoreUrl="/experiencias"
      showMoreLabel="Ver Mas"
    />
  </span>
  <div class="space-y-16">
    {
      experiences.map((experience, index) => (
        <ExperiencesCard experience={experience} index={index} />
      ))
    }
  </div>
</section>

<script>
  import { animateElement, animateElements } from '@/lib/scripts';
  animateElement('#show-more-hotel-experiences', '0', 500);
  animateElements('#experience-card', '40px', 100, 100);
</script>
