---
import type { CollectionEntry } from 'astro:content';
import RoomListCard from './RoomListCard.astro';
import ShowMore from '../ui/ShowMore.astro';

interface Props {
  rooms: CollectionEntry<'rooms'>[];
  title?: string;
}

const { rooms, title = 'Nuestras Habitaciones' } = Astro.props;
---

<section class="container py-8 md:py-16">
  <span id="show-more-room-list">
    <ShowMore title={title} />
  </span>

  <div class="grid grid-cols-1 gap-8 space-y-8 md:grid-cols-2">
    {rooms.map((room) => <RoomListCard room={room} />)}
  </div>
</section>

<script>
  import { animateElement, animateElements } from '@/lib/scripts';
  animateElement('#show-more-room-list', '0', 500);
  animateElements('#room-list-card', '40px', 200, 400);
</script>
