---
import ExperienceHero from '@/components/experiences/ExperienceHero.astro';
import Layout from './Layout.astro';
import ExperienceDescription from '@/components/experiences/ExperienceDescription.astro';
import type { ExperienceEntry } from '@/lib/fetchers/experiences';

interface Props {
  title?: string;
  subtitle?: string;
  image?: string;
  data: ExperienceEntry | ExperienceEntry[];
  type?: 'experience' | 'experienceList';
}

const { title, subtitle, data } = Astro.props;
---

<Layout {...Astro.props}>
  <main class="bg-background">
    <ExperienceHero title={title} subtitle={subtitle} />
    {!Array.isArray(data) && <ExperienceDescription experience={data} />}
    <slot />
  </main>
</Layout>
