---
import Footer from '@/components/layout/Footer.astro';
import MobileNavbar from '@/components/layout/MobileNavbar.astro';
import Navbar from '@/components/layout/Navbar.astro';
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || 'Astro Basics'}</title>
    <meta
      name="description"
      content={description ||
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia.'}
    />
  </head>
  <body class="font-geo relative overflow-x-hidden">
    <Navbar />
    <MobileNavbar />
    <main class="bg-background overflow-x-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>
