---
import Head from '@/components/hotels/Head.astro';
import Footer from '@/components/layout/Footer.astro';
import MobileNavbar from '@/components/layout/MobileNavbar.astro';
import Navbar from '@/components/layout/Navbar.astro';
import type { JsonLdInputMap, JsonLdType } from '@/lib/seo/jsonld';
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  data: JsonLdInputMap[JsonLdType];
  type?: JsonLdType;
}
---

<!doctype html>
<html lang="es">
  <Head {...Astro.props} />
  <body class="font font-inter relative overflow-x-hidden">
    <Navbar />
    <MobileNavbar />
    <main class="bg-background overflow-x-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>
